.container{
    height: 1800px;
    display: flex;
    background: url(../images/background.jpg);
    background-size: cover;
    box-shadow: inset 0px 10px 250px #000000;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    
    .titleSearchBarContainer{
      display: flex;
      align-content: center;
      justify-content: center;
      align-items: center;
    }
    