.container{
    height: 1800px;
    display: flex;
    background: url(../images/background.jpg);
    background-size: cover;
    box-shadow: inset 0px 10px 250px #000000;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@font-face {
    font-family: Satisfy;
    src: url(../font-families/Satisfy-Regular.ttf);
}
  

.notFoundTitle{
    font-family: Satisfy;
    font-style: normal;
    font-weight: normal;
    font-size: 148.396px;
    line-height: 214px;
    color: #EFEFEF;
    display:flex;
    justify-content: center;
    align-items:center;
}

.notFoundBody{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 35.8333px;
    line-height: 42px;
    color: #FFFFFF;
}