body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  background-image: url(./images/background.gif);
  background-size: cover;
  background-attachment: fixed;
  display:flex;
  justify-content: center;
  align-items: center;
}

@font-face{
  font-family: 'Satisfy';
  src: url('./font-families/Satisfy-Regular.ttf');
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input:focus{
  outline: none;
}

